name = "dnaoad"
version = "0.1.0"
license = "license"
author = "jaosch"
maintainer = "jasper.schommartz@gmail.com"
copyright = "Copyright 2025, jaosch"
[build]
auto-executables = true
auto-tests = true
auto-examples = true
module-naming = false
[install]
library = false
[fortran]
implicit-typing = false
implicit-external = false
source-form = "free"

[dev-dependencies]
test-drive.git = "https://github.com/fortran-lang/test-drive"
test-drive.tag = "v0.5.0"
